body {
 background-image: url(images/lacosta.jpeg);
  background-size: cover;
  font-family: 'Lato', sans-serif;
 }

.tempteratureBox {
  height: 100px;
  width: 250px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border: 20px;
  font-size: 20px;
}

.descriptionBox {
  height: 100px;
  width: 250px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border: 20px;
  font-size: 20px;
  padding-top: 35px;
}

.windBox {
  height: 100px;
  width: 250px;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border: 20px;
  font-size: 20px;
  padding-top: 35px;
}

h1 {
  text-align: center;
  color: white;
}

.spacer {
  height: 200px;
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
