body {
 background-image: url(images/lacosta.jpeg);
 background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 font-family: 'Lato', sans-serif;

 }

.tempteratureBox {
  height: 125px;
  width: 25%;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border: 20px;
  font-size: 20px;
  margin-right: 1%;
  margin-bottom: 1%;
  overflow: hidden;
}

.descriptionBox {
  height: 125px;
  width: 25%;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border: 20px;
  font-size: 20px;
  padding-top: 35px;
  margin-right: 1%;
  margin-bottom: 1%;
}

.windBox {
  height: 125px;
  width: 25%;
  background-color: white;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
  border: 20px;
  font-size: 20px;
  padding-top: 35px;
}

h1 {
  text-align: center;
  color: white;
}

.spacer {
  height: 200px;
  width: 100%;
}

.spacerDeux {
  height: 500px;
  width: 100%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}
